- content_for :title do
  = "iOS + Android apps with React Native"
- content_for :description
  = "We're a small shop that develops high-end apps for clients. Full time, one project at a time."
h1= content_for(:title)
p.lead.margin-top= content_for(:description)
.button.margin-top Want to talk?
